{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@vue/babel-plugin-jsx",
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    // antdV按需加载
    [
      "import",
      {
        "libraryName": "ant-design-vue",
        "libraryDirectory": "es"
      }
    ]
  ]
}
